# local datasets
data/
vector_databases/

# virtual environments
.venv/
venv/
.env/
.env
env/


# macOS
.DS_Store

# Jupyter
.ipynb_checkpoints/

# pyenv
.python-version

# eval artefacts
eval/results_*.json
*.pkl.bak

# python
__pycache__/
*.py[cod]
