vector_databases/vector_db_debates_lp19/index.faiss filter=lfs diff=lfs merge=lfs -text
vector_databases/vector_db_debates_lp19/index.pkl filter=lfs diff=lfs merge=lfs -text
data/debates_lp19.csv filter=lfs diff=lfs merge=lfs -text
